<p>
  <strong>Color:</strong>
  <%= @pet.color %>
</p>

<p>
  <strong>User:</strong>
  <%= @pet.user.email %>
</p>

<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', user_pets_path(current_user) %>
