<ul>
  <li><%= link_to 'Sign In', new_user_session_path %></li>
  <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
  <li><%= link_to 'Pets', user_pets_url(current_user) %></li>
  <li><%= link_to 'U2F Devices', user_u2f_registrations_path(current_user) %></li>
</ul>
